/*--posXOfSquareToHighlight
--posYOfSquareToHighlight*/

.ligne{
    display: grid;
    grid-template-columns: 210px 210px 210px;
}

.case{
    height: 210px;
    border: 2px blue solid;
}

.redborder{
    border: 2px red solid;
}
